[2019-04-03 17:15] dragon1672 opened #7 "Support large Audit Responses"
@joecheuk with more context
The response is limited to 4mb by gRPC. We ran into issues of this limit being busted with a template that always returned a violation with large datasets.

Possible source for design: https://cloud.google.com/apis/design/design_patterns#list_pagination

[2019-04-03 17:18] dragon1672 opened #8 "Add documentation on gRPC errors"
The gRPCs are scattered in the codebase, some documentation could help make it easier for users of this library to keep track of what expect.

[2019-04-03 22:35] alexsgoogle opened #9 "This is described in the "Set up constraint repository" section."
"The policy-path flag is set to the local clone of your Git repository that contains the constraints and templates. This is described in the "Set up constraint repository" section."

Let's add a link for "Set up constraint repository" -- I'm uncertain on how to get the right target URL at the moment

[2019-04-03 22:35] alexsgoogle opened #10 "If the desired resource is not supported, please get in touch with the Config Validator team."
"If the desired resource is not supported, please get in touch with the Config Validator team."

Should we redirect them to the Forseti slack channel? Open a new issue?

[2019-04-03 22:36] alexsgoogle opened #11 "Contact info"
At the very end of the doc, let's add a section on Contact - whether that's to redirect them to existing Forseti channels or to open an Issue - WDYT?

[2019-04-04 06:12] alexsgoogle commented on #11
How about we open up validator-support@google.com for folks to use

[2019-04-04 21:56] morgante commented on #11
validator-support@google.com sgtm

[2019-04-04 21:56] morgante commented on #10
I think opening an issue on this GitHub.

[2019-04-04 22:53] dragon1672 opened #13 "Deprecate policyLibraryPath flag"
This is blocked by the policy folder inlining the functions defined in this dir
forseti-security/policy-library#2

This will also remove cf's dependencyCode collection
https://github.com/forseti-security/config-validator/blob/master/pkg/gcv/cf/cf.go#L34

[2019-04-04 22:55] dragon1672 opened #14 "rename instance of gcv to fcv"
We still have instances of an old naming pattern `gcv` that should be replaced with `fcv` (Forseti Config Validator)

[2019-04-05 00:05] #9 closed

[2019-04-05 00:05] t12g commented on #11
done.

[2019-04-05 00:05] #11 closed

[2019-04-05 00:06] t12g commented on #10
Mentioned both.

[2019-04-05 00:06] #10 closed

[2019-04-05 03:35] dragon1672 commented on #8
@t12g Do you have any recommendations?
I was thinking of making a directory readme.md, but I would be copying method names, which makes me want to provide more context on function comments.

[2019-04-05 04:54] t12g commented on #8
I'd go with go doc function comments. But it's easy to lose track when there's a chain of invocation, unless we're being really diligent about this. This information can quickly become out of date.

[2019-04-05 05:38] alexsgoogle opened #17 "User Guide | cmd for policy-library to Forseti bucket"
Regarding this command:
export POLICY_LIBRARY_PATH=path/to/local/policies/library

I think it would be clearer to finish the command as '/policy-library/'

And for the next command:
gsutil cp -r ${POLICY_LIBRARY_PATH} gs://${FORSETI_BUCKET}/policy-library/

do we actually mean this?
gsutil cp -r ${POLICY_LIBRARY_PATH} gs://${FORSETI_BUCKET}/

I accidentally created nested /policy-library/policy-li

[2019-04-05 05:58] alexsgoogle opened #19 "User Guide | running TF Validator first time"
Regarding this command:
./terraform-validator-linux-amd64 validate test.tfplan --policy-path=policy-library

At this point, I think we're supposed to have set the Project macro (or otherwise provide it as a flag), but I don't think we talk about this in the guide

[2019-04-05 06:21] alexsgoogle opened #20 "User Guide | end to end, need Forseti instructions"
The end to end covers nicely up to the end of Terraform, however, it doesn't go into how to test Forseti manually:

/home/ubuntu/forseti-security/install/gcp/scripts/run_forseti.sh

[2019-04-05 15:18] t12g commented on #19
The latest version of TF validator no longer requires it. It'll parse the project from the google provider block.
We mentioned that in the guide:
"Terraform Validator also accepts an optional --project flag which is set to the Terraform Google provider project. See the provider docs for more info. If it is not set, Terraform Validator will attempt to parse the provider project from the provider co

[2019-04-05 15:18] #19 closed

[2019-04-05 15:30] t12g commented on #20
@joecheuk Do you see any issues with mentioning /home/ubuntu/forseti-security/install/gcp/scripts/run_forseti.sh in user guide? I don't see that in the current Forseti docs...

[2019-04-05 15:39] joecheuk commented on #20
depending on the size of the environment, it is recommended for the user to let the cron job run instead of manually running it because the cronjob can overlap with the run_forseti.sh script if it takes a while to run and it will make it very slow if both of them are running at the same time (R/W to the sql instance) and also theres a concern when both runs are R/W from the FCV instance user will

[2019-04-05 15:43] alexsgoogle commented on #20
What if we include this in the end-to-end section only with the caveat that Joe mentions and the recommendation that this test should only be for sandbox environments with limited scope

[2019-04-05 15:50] alexsgoogle opened #21 "User Guide | table of contents"
Is it possible to generate a table of contents? At least the high-level areas

[2019-04-05 16:36] t12g commented on #17
Done.

[2019-04-05 16:36] #17 closed

[2019-04-05 17:36] t12g commented on #20
sgtm. @joecheuk wdyt?

[2019-04-05 20:59] dragon1672 opened #24 "Build Continuous integration pipeline with Google Cloud Builder"
Setup pipeline to build and run golang test.

[2019-04-05 21:05] dragon1672 commented on #24
Right now running into an issue with the tests that setup invalid file permissions.
Current failures

[code]

Right now these tests create folders using `ioutil.TempDir` and `os.MkdirAll(filepath.Join(tmpDir, "invalidDir"), 0000)`
These commands aren't generating an error, but it appears they are not applying the permission bits properly.

There might be a better way of setting up the file system

[2019-04-24 23:52] joecheuk opened #27 "Include resource type as part of the violation message"
https://github.com/forseti-security/config-validator/blob/237d9245bc417f4afcaabd363f8367d5233f4f6e/api/validator.proto#L46

It's hard to determine whether or not a violation is a resource violation / iam violation since the resource name is identical in both cases but the data that's being scanned are different data.

[2019-04-29 15:23] Red-Five opened #28 "GKE Deployment Question"
Is config validator part of the forseti server process or a separate process?

If a seperate process it may make sense to deploy it in its own pod with a cluster IP service in front of it; a rule of thumb is to run only one process in a container.

[2019-04-29 16:50] morgante commented on #28
When running in Forseti, I believe it is run as a separate process which Forseti communicates with via RPC. I agree this should likely be run inside a separate container.

[2019-04-29 17:06] t12g commented on #28
Separate container yes, but it should be in the same pod as the caller. Currently it cannot handle multiple callers.

[2019-04-29 22:48] Red-Five commented on #28
For now, attempting to run both in same container.

I copied over polices to GCS as per
https://github.com/forseti-security/policy-library/blob/master/docs/user_guide.md#copy-over-policy-library-repository

However config validator not starting.
2019-04-29 22:24:47,947 ERROR google.cloud.forseti.scanner.scanner(run): Error running scanner: ConfigValidatorScanner
Traceback (most recent call last):

[2019-04-29 22:49] morgante commented on #28
@joecheuk Can you help here?

[2019-04-29 23:48] joecheuk commented on #28
Hi @Red-Five ,

Forseti register config validator as a systemctl service and it will require all the parameters to be in place to have the service up and running:
https://github.com/forseti-security/forseti-security/blob/69cdbe2332122eb266405f3d7834be2720fca07d/install/gcp/scripts/initialize_forseti_services.sh#L43

So in this case, assuming you have the policy-library folder in place and configur

[2019-04-30 01:31] Red-Five commented on #28
@joecheuk Thanks.

Do we have a dockerfile for config-validator?
If not can you give me some pointers as to which dir(s) or file(s) and from which repo I need to pull into the image?

[2019-04-30 01:44] joecheuk commented on #28
We don't have a dockerfile to for config validator at this moment, we only have a dockerfile to compile the .proto file.

This is the location of the config-validator implementation:
https://github.com/forseti-security/config-validator/blob/master/pkg/gcv/validator.go

You can build the code in go by running a go command that looks like `go build -o ....`

The resulting file should look something

[2019-04-30 15:41] Red-Five commented on #7
Chunking large messages with gRPC: https://jbrandhorst.com/post/grpc-binary-blob-stream/

[2019-05-11 18:07] t12g commented on #21
Fixed in https://github.com/forseti-security/policy-library/pull/46

[2019-05-11 18:07] #21 closed

[2019-05-13 23:58] t12g opened #29 "Support multiple documents in a single constraint .yaml file"
For a single constraint template, there can be multiple constraint .yaml files (10s? 100s?).  This can become unwieldy and get out of hand.

YAML supports multiple documents in a single file (example in k8s testdata: https://github.com/kubernetes/kubernetes/blob/master/hack/testdata/multi-resource-yaml.yaml).
Config Validator should support this too (at least for constraints).

[2019-05-15 03:09] t12g opened #30 "Support the official constraint template format"
Currently the `targets` field look like the following:
[code]

It deviates from the constraint framework format. In constraint framework, the `targets` field is a list of maps:

[code]

Reference: https://github.com/open-policy-agent/frameworks/tree/master/constraint#what-is-a-constraint-template

[2019-05-16 22:21] morgante opened #34 "spec.match.target doesn't work"
The violation for the constraint is always detected regardless of the spec.match.target field value.

[2019-05-28 20:09] #34 closed

[2019-05-28 21:16] t12g opened #38 "Remove support for old targets format in constraint template"
Follow up item for https://github.com/forseti-security/config-validator/issues/30.
At some point after TF and Forseti validators understand the new format (list of maps), we'll remove support for the old format.

[2019-05-28 21:16] #30 closed

[2019-05-28 21:19] t12g opened #39 "Feature request: empty matcher matches everything by default"
Current behavior is that a constraint must specify "organization/*" to match everything.
Ideally we want to be consistent with [Gatekeeper](https://github.com/open-policy-agent/gatekeeper) so that "empty matcher is deemed to be inclusive (matches everything)."

[2019-05-29 21:06] #39 closed

[2019-06-04 06:12] sgalij opened #41 "Include metadata in violation message"
Currently when constraint violation is detected tool returns message like this:

Found Violations:
[rego message]

It would be useful to include also policy **metadata** in this message.
Forseti Config Vaildator includes this data in violation report.

[2019-06-04 17:55] morgante commented on #41
Are you using the Terraform validator?

How would you like the metadata surfaced?

[2019-06-05 06:07] sgalij commented on #41
Rego rule schema according to OPA constraint framework is following:
[code]

So I suggest to add new flag --script and return only **details** json object when this flag is used.

BTW, I opened issue in wrong project.
Now I created another issue in:
https://github.com/GoogleCloudPlatform/terraform-validator/issues/35

[2019-06-05 16:44] #41 closed

[2019-06-05 19:37] morgante opened #42 "Converge target and exclude semantics with Gatekeeper match semantics"
https://github.com/forseti-security/config-validator/pull/37#discussion_r287542782

[2019-06-06 00:35] morgante commented on #42
Based on the conversation, we should move them to the top level:

[code]

[2019-06-17 21:21] dekuhn commented on #7
Can someone size how difficult this work is and eng effort to do it?

[2019-06-18 20:08] t12g commented on #7
It's probably ~1 week's worth of work (including both server & client side).

[2019-06-18 20:14] t12g commented on #42
The config validator library now accepts both formats. TF validator has been updated. For Forseti, the upcoming 2.17 release should have this change as well.

We can consider removing the support for old format in Forseti 2.18. @joecheuk WDYT?

[2019-06-18 20:29] joecheuk commented on #42
Does removing supports meaning its gonna fail when consuming the old policies or its just gonna ignore the match field?

[2019-07-24 12:45] ocervell opened #49 "Exclude not working with individual resources"
AFAIK there is no way to exclude just one resource using the `exclude` parameter: is this expected ?

E.g: I tried the following in a rule to prevent public IPs on CloudSQL, but the exclude is not working:

[code]

or

[code]

[2019-07-24 16:12] morgante commented on #49
Correct, projects are the most granular unit you can exclude (similar to the target semantics).

[2019-08-02 18:10] kevensen opened #50 "Provide config-validator container in GCR"
Implement build pipeline to provide config-validator container

[2019-08-02 18:11] kevensen commented on #50
Please assign this to me

[2019-08-14 20:46] dekuhn opened #52 "Config Validator not scaling to large datasets"
In profiling large CAI exports with a dataset with 2M resources we are finding that the virtual machine is running out of memory.

Next Steps:
- [x] Prep for new RPC endpoint https://github.com/forseti-security/config-validator/pull/60
- [ ] Create new RPC endpoint in Config Validator (without referential support)
  - [ ] Enable mult-threading of Config Validator auditing
- [ ] Forseti / Config Va

[2019-08-16 20:29] dekuhn commented on #52
Assigning to @morgante who offered to do some initial investigations around memory the consumption with a large data set.

[2019-08-21 18:55] morgante commented on #52
I did some preliminary analysis. The problem seems to be in OPA/Rego itself: https://docs.google.com/document/d/1AV23q8YqjSwaVv3FqXkzH7m7kInjyxWE3Xk2WH6xCWo/edit

[2019-08-22 22:45] dekuhn commented on #52
@briantkennedy based on @morgante findings what is the right next step here regarding this issue?

[2019-09-04 15:30] kevensen opened #55 "Reload Rego Files"
As a user of config-validator I would like the ability to call an HTTP endpoint to have config-validator reload the rego policy files in order to maintain state in the running config-validator server.

[2019-09-04 15:55] kevensen commented on #55
Additionally, because [git-sync](https://github.com/kubernetes/git-sync) has a `--webhook-url` option, this _reload_ endpoint could be triggered when new policy files are synced.

[2019-09-16 14:09] ocervell opened #56 "Add exclude to GCPCMEKRotationConstraintV1"
We need to add an exclude for the GCPCMEKRotationConstraintV1, because once created, KMS keychains cannot be removed. As long as we don't have the 'delete keychain' option in the KMS API, we should be able to exclude unused keychains.

[2019-09-24 04:55] yukinying opened #57 "gcv.NewValidator should support multiple policy paths"
This would give users a much better flexibilty to construct template and constraints into different directories. The current setting restricted the users to have them share the same parent.

The code itself seems to be supporting that. First of all, NewValidator takes Options slices as input so it could possibly be extended to take multpile options and store the policy path as slice. Policy path i

[2019-09-24 17:10] briantkennedy opened #58 "Integrate with OPA constraint framework"
Now that [opa constraint framework](https://github.com/open-policy-agent/frameworks/tree/master/constraint) is ready for integration, we need to migrate to using that rather than a prototype implementation.

[2019-09-24 17:12] briantkennedy commented on #57
This seems like it would be a pretty simple change, but it's going to have some conflicts with an existing workstream.  What's the priority on this change?

[2019-09-27 16:59] yukinying commented on #57
I don't think this is blocking anything at this point, but this is a feature that would help people to bring multiple policies (e.g. centralized vs project specific) together without running the validation multiple times.

[2019-10-07 17:53] dekuhn commented on #52
@briantkennedy I wanted to document high level tasks related to this effort please review and edit.

- [ ] Prep for new RPC endpoint https://github.com/forseti-security/config-validator/pull/60
- [ ] Create new RPC endpoint in Config Validator (without referential support)
  - [ ] Enable mult-threading of Config Validator auditing
- [ ] Forseti / Config Validator teams profile performance of new R

[2019-10-07 18:10] briantkennedy commented on #52
yeah, that looks roughly like the path, although the PRs aren't necessarily going to map 1:1 there, we can edit as we go

[2019-10-07 22:09] dekuhn commented on #52
@briantkennedy I will move the tasks to the first edit on this issue. We can update there as needed. Thanks.

[2019-10-10 22:21] morgante opened #64 "Add auto-generated documentation"
We should use the [policy-tool](https://github.com/forseti-security/config-validator/tree/master/cmd/policy-tool) to auto-generate documentation:

Auto-generated documentation could include:
1. Available constraint templates (all)
2. Available sample constraints
3. Available bundles and samples/constraints for each bundle

The documentation format can be based on the [initial POC](https://github.c

[2019-10-10 22:22] morgante commented on #64
Potential implementation: a new `make` command which calls policy-tool and a Python script to generate the documentation from a jinja template.

[2019-10-10 22:39] morgante opened #65 "Infer asset ancestry from Cloud Asset Inventory"
Now that CAI has added the "ancestors" field to CAI (https://cloud.google.com/asset-inventory/docs/reference/rpc/google.cloud.asset.v1#google.cloud.asset.v1.Asset), we should update the Config Validator library to no longer require explicitly passing/generating an ancestry path. Instead, the ancestry path can be generated from provided ancestors (if present).

[2019-10-13 16:03] Red-Five commented on #28
Closing this issue as Config Validator now supported on GKE.

[2019-10-13 16:03] #28 closed

[2019-10-14 15:37] Red-Five opened #67 "Graceful Error Handling"
If one constraint has an error it stops the config-validator pod from starting.

Possibly log the error and continue to run other constraints?

[2019-10-20 18:39] kevensen opened #70 "Increase Cloudbuild Timeout"
The container builds are failing at 10 minutes.  After testing, it looks like 15 minutes should be comfortable.

[2019-10-25 18:33] #70 closed

[2019-10-29 00:03] briantkennedy commented on #56
I'm not sure what the ask here is, should this be in [policy-library](https://github.com/forseti-security/policy-library)?

[2019-11-06 04:43] morgante opened #74 "Update ancestry path to plural"
We should update the ancestry path to use plural resource types (ex. `organizations/999/folders/232/projects/111`).

Work involved would be:
- [x] Update core FCV code to assume plural ancestry paths
- [x] Add a simple helper to pluralize input ancestry paths
- [ ] Update policy-library samples/test cases to use plural paths

[2019-11-07 16:48] umairidris opened #75 "Panic on storage bucket"
Hello,

I have a simple storage bucket being created which is causing a panic on the latest validator release.

To reproduce, create a main.tf with a storage bucket (don't deploy/create the bucket)
$ terraform plan -out plan.tfplan
$ terraform show -json plan.tfplan > input.json
$ ./terraform-validator-linux-amd64 validate input.json --policy-path=policy-library
panic: runtime error: index out of

[2019-11-07 16:59] morgante commented on #75
This should be fixed in the 2019-11-07 validator release.

[2019-11-07 16:59] #75 closed

[2019-11-21 17:48] yukinying commented on #74
Since FCV is already accepting ancestors, I suggest adding a transient logic to make the behavior consistent. What I mean is that, if ancestors is provided, the ancestry path would contain plural because of the following:

https://github.com/forseti-security/config-validator/blob/87b4ae546420814b2a6766a1b4569278f5e1627e/pkg/gcv/validator.go#L234-L242

This is already breaking the behavior if calle

[2019-11-21 20:44] #57 closed

[2019-11-22 22:58] yukinying opened #77 "NewValidator(stopChannel, ... ) could be refactored as NewValidator(ctx, ... )"
This is a nit comment. It is more intuitive to use context and get the stopChannel via ctx.Done() which probably do the same thing. For anyone who are calling NewValidator, without a single thought, they can pass the ctx in without putting any concern on how this channel would be managed. Just a suggestion.

[2019-11-25 19:39] yukinying opened #78 "go get fail because of an invalid dependency"
[code]

The command exits with non-zero code.

[2019-11-25 20:25] yukinying opened #79 "go routine calls t.Fatalf, which must be called in the same goroutine as the test."
Found via https://staticcheck.io/docs/checks#SA2002

https://github.com/forseti-security/config-validator/blob/eb1b299ab83897f7b3871e913cfeb2dc0ab08407/pkg/gcv/validator_test.go#L331

https://github.com/forseti-security/config-validator/blob/eb1b299ab83897f7b3871e913cfeb2dc0ab08407/pkg/gcv/validator_test.go#L346

[2019-12-20 20:42] kevensen opened #84 "Load constraints from GCS"
As a user of config-validator, I would like to load the constraints from GCS in order to have config-validator be stateless.

[2019-12-20 20:46] morgante commented on #84
What do you mean by config-validator being "stateless?" Whether constraints are read from GCS or from the filesystem doesn't affect whether its statefulness.

[2019-12-20 20:50] kevensen commented on #84
Maybe stateless is the wrong adjective.  If I want to run this in Cloud Run, I'd have to pre-load the container image with the constraints in the image's file system.  This way, the contstraints don't have to be local to the config-validator process on startup.

[2019-12-20 20:50] kevensen commented on #84
I'm happy to take this on btw.

[2019-12-20 20:53] morgante commented on #84
Got it. Yes, I think reading constraints from GCS could have some value but I'm not necessarily sure that building it into Config Validator is necessary. Note that other solutions like FUSE could be used to mount GCS into a container: https://github.com/maciekrb/gcs-fuse-sample

[2019-12-20 20:54] kevensen commented on #84
But isn't that faking an object store as a file store?

[2019-12-20 20:56] morgante commented on #84
Yes it is, but for cases like this (low rw) it should work perfectly fine.

[2019-12-20 20:57] kevensen commented on #84
Fair enough.  I think the challenge here is that we have do not have access to life-cycle hooks nor kernel capabilities with Cloud Run.

[2019-12-20 21:01] morgante commented on #84
Fair enough. I'd certainly be happy to review a PR implementing this.

[2019-12-20 21:03] kevensen commented on #84
Thank you sir.  Hopefully I can get that done in the next few days.

[2019-12-20 21:29] briantkennedy commented on #84
What's the setup you have for cloudrun?  Why isn't building a docker container that contains thee specific constraints / templates acceptable?  I'd like to have more info before giving this sort of thing the green light.

[2019-12-20 21:45] kevensen commented on #84
I do not have a setup yet.  If we were to add constraints and templates to a container image, we'd be rebuilding that container image every time a single file is updated.  To make this seamless, we could setup some CI/CD tooling in Cloud Build to trigger every time an update is made to policy-library.

In my mind, that is a lot of extra tooling to support the update of one file.

[2019-12-20 22:00] briantkennedy commented on #84
So if I understand correctly, you're intending to add support for "gs://" URIs for policy directories and libraries?

[2019-12-20 23:03] kevensen commented on #84
Exactly that!

[2019-12-20 23:16] briantkennedy commented on #84
Oh, yeah, that's fine, the fuse suggestion threw me off there.

[2019-12-22 22:01] kevensen opened #85 "Error Validating Rego"
Have checked out `master` with latest commit `5144a79`.  And am getting the following error when running `make release`.

I see this error with both golang `1.13.5` and `1.12.4`.

It seems that merges after `11fda7550156708abe8bd6cf690769fe3ecd88da` present this error.
[code]

[2019-12-25 20:43] kevensen commented on #85
The `latest` container also has this problem.

[2019-12-25 20:46] kevensen commented on #85
I'm dumb.  I mixed up the `-policyLibrary` and `-policyLibraryPath`.

[2019-12-25 20:46] #85 closed

[2019-12-30 21:05] #84 closed

[2020-01-22 16:32] gingersnapz opened #98 "Support sync with Google Cloud Source Repos"
Currently I have not found any supporting documents that describe syncing configuration policies with a Cloud Source repo instead of a Github or GCS bucket.
There have been examples scattered that show manual ways to enable cloning via generated credentials for a user but not using a service account with proper permissions to a Cloud Source Repo. I have attempted to add the ssh key (generated by t

[2020-02-20 20:57] briantkennedy opened #116 "Duplicate violations"
For the following input, FCV emits four duplicate violations when using the [world readable constraint template](https://github.com/forseti-security/policy-library/blob/master/policies/templates/gcp_storage_bucket_world_readable_v1.yaml).  Oddly enough, when adding this same data to the policy-library testcases, duplicate violations are not surfaced.  My guess is that the issue is appearing due to

[2020-02-20 21:00] briantkennedy commented on #7
I believe this is fixed.

[2020-02-20 21:00] #7 closed

[2020-02-20 21:00] briantkennedy commented on #8
will not fix

[2020-02-20 21:00] #8 closed

[2020-02-20 21:01] briantkennedy commented on #29
This is now handled.

[2020-02-20 21:01] #29 closed

[2020-02-20 21:05] briantkennedy commented on #78
I can't repro this, can you give it another try or provide more information?

[2020-02-20 21:07] briantkennedy commented on #74
FCV now accepts both plural and non plural for match target/exclude.  In the future, we plan to warn on non-plural then eventually reject it.

[2020-02-20 21:09] #24 closed

[2020-02-20 21:10] briantkennedy commented on #38
support was removed sometime in 2019

[2020-02-20 21:10] #38 closed

[2020-02-20 21:11] #58 closed

[2020-02-20 21:12] #65 closed

[2020-02-20 21:16] briantkennedy commented on #27
The full resource is now included in the metadata.

[2020-02-20 21:16] #27 closed

[2020-02-20 21:16] briantkennedy commented on #20
no longer in scope

[2020-02-20 21:16] #20 closed

[2020-02-20 21:17] #42 closed

[2020-02-20 21:32] briantkennedy commented on #77
If you'd like to create a PR, I'll review it.

[2020-02-20 21:33] #79 closed

[2020-02-20 21:53] briantkennedy commented on #67
The policy-tool CLI now has a lint command which should let you detect errors before it blocks the validator.  Is that sufficient?

[2020-02-24 20:57] briantkennedy commented on #52
I believe this has been closed out.  Feel free to reopen if there's more work to do.

[2020-02-24 20:57] #52 closed

[2020-02-25 01:44] morgante commented on #52
@katze120 Have we still been seeing issues with using CFT Scorecard against large CAI dumps?

[2020-02-25 02:41] katze120 commented on #52
I have some performance data here for running scorecard on macbook pro. I tried on CAI of 2G too, no out-of-memory issue but I terminated the process after 2+ hrs.

CAI file size | # of Projects | # of lines in CAI exports | Time to complete
-- | -- | -- | --
17M | 50 | 11567 | 4 mins
30M | 67 | 15508 | 6 mins
200M | 39047 | 247126 | 110 mins

Very often, large CAI size is caused by BQ tables. For

[2020-02-25 19:12] briantkennedy commented on #52
If there's a CAI dump and set of constraints you're able to give me, please reopen and I can take a last look at improving the single host performance, but other than that we are at the end of the road in terms of the single host performance story.

[2020-02-26 02:55] katze120 opened #120 "Violations from ReviewAsset function do not contain constraint configs"
Originally, [cft scorecard](https://github.com/GoogleCloudPlatform/cloud-foundation-toolkit/blob/master/cli/docs/scorecard.md) uses [Audit](https://github.com/forseti-security/config-validator/blob/master/pkg/gcv/cf/cf.go#L247) function which includes constraint metadata as part of violations. Scorecard uses some annotations in the constraint metadata to categorize the violations.

With the [recen

[2020-02-26 19:08] briantkennedy commented on #120
I'll take a look, is constraint name sufficient or do we everything (match block target/exclude, parameters)?

[2020-02-26 19:10] morgante commented on #120
Everything is what we had, but the main thing we need is actually the annotations (from the constraint metadata).

[2020-02-27 00:24] briantkennedy commented on #120
Sounds good, which metadata key would you like the annotations map to exist at?

[2020-02-27 00:35] katze120 commented on #120
Scorecard has been using the `bundles.validator.forsetisecurity.org/scorecard-v1` key, for example: https://github.com/forseti-security/policy-library/blob/master/samples/iam_blacklist_public.yaml#L7

But is it possible to provide all metadata keys & values like the previous behaviour? In case we need to leverage additional metadata fields in future.
We were not getting info such as match block ta

[2020-02-27 01:04] morgante commented on #120
If for some reason returning the full metadata isn't possible, returning `Metadata.Annotations` should be sufficient.

[2020-02-28 17:52] hshin-g opened #122 "Update Config Validator to use opa v0.17.2"
The policy-library repo was [recently updated](https://github.com/forseti-security/policy-library/pull/279) to use opa v0.17.2 (from v0.16.0).

Config Validator will also need to be updated to use opa v0.17.2 to be synced, as it is [currently on v0.16.2](https://github.com/forseti-security/config-validator/blob/master/go.mod#L23).

[2020-03-05 23:01] briantkennedy commented on #122
This is going to entail updating github.com/open-policy-agent/frameworks/constraint and github.com/open-policy-agent/gatekeeper to both use 0.17.2

Dependencies:
https://github.com/open-policy-agent/frameworks/issues/86
https://github.com/open-policy-agent/gatekeeper/issues/510

[2020-03-06 00:17] hshin-g commented on #122
That sounds like a good idea- I've opened a PR here: https://github.com/forseti-security/policy-library/pull/284

[2020-03-06 18:48] #122 closed

[2020-03-11 03:26] katze120 commented on #120
hi @briantkennedy , any idea when this can be resolved?

scorecard uses constraint metadata to generate constraint category, which is good to have and previously available feature, but from my understand it's not widely use yet. So depending on the timeline, we need to see whether new version of cft cli can/should be released.. I'd love to use the new features in new cft cli to generate resource a

[2020-03-17 20:44] #120 closed

[2020-03-17 23:29] katze120 commented on #120
Thanks for looking into this! I've started testing the new version with cft scorecard.
Verified that constraint metadata is there.
Also found that the constraint name now also contains the template name, e.g. `iam-gcs-blacklist-public-users` becomes `GCPStorageBucketWorldReadableConstraintV1.iam-gcs-blacklist-public-users`

[2020-03-17 23:32] briantkennedy commented on #120
Yeah, that was one side effect of the fact that someone could technically make a constraint named "test" for two different templates.  There wasn't a good way to handle that, so the thought was to put the template and constraint name together.

[2020-03-25 18:21] briantkennedy opened #127 "Improve schema checking."
When loading a template with schema issues, it returns an error message that isn't really actionable.

[code]

[2020-03-25 20:16] briantkennedy commented on #78
considering this issue obsolete due to lack of activity, closing.

[2020-03-25 20:16] #78 closed

[2020-03-30 21:15] #127 closed

[2020-04-30 04:59] katze120 opened #136 "Feature request: update Config Validator to support org policy & access levels"
Below asset_v1 protos have been updated to support org policy and access levels from Cloud Asset Inventory data

https://github.com/googleapis/googleapis/blob/master/google/cloud/asset/v1/assets.proto
https://github.com/googleapis/googleapis/blob/master/google/cloud/asset/v1/asset_service.proto

Can Config Validator be updated to pick up these changes too?

[2020-04-30 15:56] morgante commented on #136
@briantkennedy were you looking at this?

[2020-04-30 17:24] briantkennedy commented on #136
@morgante looking now, sorry, been dealing with a customer escalation

[2020-04-30 19:32] briantkennedy commented on #136
@katze120 posted PR, please let me know if that's not exactly what you were looking for.

[2020-04-30 22:54] #136 closed

[2020-05-20 04:07] katze120 opened #140 "Expose Asset.AncestryPath in violations"
Let's expose Asset.[AncestryPath](https://github.com/forseti-security/config-validator/blob/master/pkg/api/validator/validator.pb.go#L46) in Violation.

Currently [Resource](https://github.com/forseti-security/config-validator/blob/master/api/validator.proto#L75) is a string field in Violation

[2020-05-20 17:52] briantkennedy commented on #140
@katze120 what setup do you have for FCV?

[2020-05-25 13:53] katze120 commented on #140
not sure whether I understand what's being asked.. what does 'setup' mean in this context?

[2020-05-26 19:54] briantkennedy commented on #140
Whoops, thought it might have been from using an old version, I mistook the fact that it had been added to insight to also think it was added to violation, posted PR to fix.

[2020-05-26 20:04] #140 closed

[2020-06-03 19:35] xingao267 opened #142 "glob(i.e. **) does not work in target match for policies"
When I use ** in the `target` field under `match`, Forseti Config Validator errors out.

Policy:
[code]

Error message snippet:
[code]

From the CV regex matching [tests](https://github.com/forseti-security/config-validator/blob/1851e960cf3c357a62948c3de088fd3234f1c372/pkg/gcptarget/gcptarget_test.go), it seems such feature is supported.

It's a very useful feature to help make sure policy target

[2020-06-03 19:35] morgante commented on #142
@briantkennedy Any idea why this isn't working?

[2020-06-03 19:56] morgante commented on #142
More generally, it looks like wildcards inside the path are not working at all.

For example, `organization/816421441114/project/gcp-foundation-shared-devops` will successfully exclude a project but `organization/*/project/gcp-foundation-shared-devops` won't even though they're supposed to be equivalent.

[2020-06-05 17:29] briantkennedy commented on #142
I'll take a look, this may be due to some of the work I did for constraint backward compatibility.

[2020-06-13 01:21] briantkennedy commented on #142
I looked into this and I'm not sure why this isn't quite working.  I've created a PR that adds unit tests for these specific cases and it appears to be working as intended.

@xingao267 can you provide the version of config validator you're using, a link to template and constraint that is giving the error and a copy of resources that are problematic?

[2020-06-13 01:37] briantkennedy commented on #77
Validator no longer takes a stop channel, closing as obsolete.

[2020-06-13 01:37] #77 closed

[2020-06-13 01:52] briantkennedy commented on #67
Closing due to inactivity, please re-open if this is still an issue.

[2020-06-13 01:52] #67 closed

[2020-06-13 03:25] #74 closed

[2020-06-15 19:53] xingao267 commented on #142
@briantkennedy thanks for looking into this. I'm using Forseti deployed by Forseti Terraform module version 5.2.1, which is using Forseti version 2.25.1. I don't know what CV version is used by Forseti 2.25.1.

Error occurs whenever I use a constraint like the one pasted in this issue. It also gives error like the following:

[code]

I can give you access to our forseti instance. Ping me if you ne

[2020-06-16 16:15] xingao267 opened #145 "IAM Audit log is not included in project level CAI data if it's enabled in org level"
I have audit log enabled for all services at org level, but violations are still reported by Forseti in CSCC for a lot of projects and folders. I took a look at the CAI export and it seems the project level (probably folder level as well, but I didn't check), the `audit_log_configs` block is not present in the exported data, and I guess that's why it causes the forseti to still report violations.

[2020-06-16 16:51] morgante commented on #145
I don't think there's a meaningful way for us to solve this.

If you're looking for audit log configs, you should look at both the org and project level configs.

If you think that's unsatisfactory, I'd recommend asking the CAI team about adding a "materialized" asset.

[2020-06-16 17:24] xingao267 commented on #145
One thing I can try is change the match target to be

`organizatin/12345678/*` to `organization/12345678` so it will not look at folder or project level audit logs.

[2020-06-16 17:25] morgante commented on #145
Yeah that should work.

[2020-06-16 18:56] xingao267 commented on #145
Umm, just tried in my Forseti instance, seems `organization/12345678/*` is the same as `organization/12345678`, which also seems match the documentation https://github.com/forseti-security/policy-library/blob/master/docs/user_guide.md#instantiate-constraints.

@briantkennedy do you think we can support `organization/12345678` being the exact match to the ancestry path from CAI, and `organization/1

[2020-06-16 19:06] briantkennedy commented on #142
Now that I'm taking another look at the error message, this is quite strange.  I had to go back in the history of the repo to find `core.dependencies.audit` and `re_match` which we haven't used since the scanning was switched over to constraint framework in #82

@gkowalski-google How would we get the FCV version associated with the terraform install to confirm that they are running an older versio

[2020-06-16 19:10] briantkennedy commented on #145
Hi @xingao267, I believe the behavior you're requesting is already implemented, but based on the other bug, it looks like you're running a very old version of config validator in your Forseti install.  @gkowalski-google will probably be able to assist with determining which version and how to upgrade.

[2020-06-16 19:24] gkowalski-google commented on #142
@briantkennedy Forseti v2.25.1 is using a [static binary of CV that was included in the repo](https://github.com/forseti-security/forseti-security/tree/v2.25.1/external-dependencies/config-validator); I don't know exactly what version this was but it was some time in October 2019. The main branch has been updated to running CV as a docker container using [this tag](https://github.com/forseti-secur

[2020-06-16 19:26] gkowalski-google commented on #145
@xingao267 @briantkennedy Added a comment to [this ticket](https://github.com/forseti-security/config-validator/issues/142#issuecomment-644956142). Until the next release, you can use the main branches of the Terraform module and Forseti app to have the ability to change the CV version.

[2020-06-16 19:37] xingao267 commented on #142
@briantkennedy @gkowalski-google thanks, let me try with forseti module at master branch. Is there an ETA for the next Forseti release to use newer version of CV?

Btw, what's the CV version used in CFT Scorecard? Or I guess it's the latest if it's used as a go library?

[2020-07-24 20:12] gkowalski-google commented on #142
@xingao267 did you have any luck with Forseti main branch?

[2020-07-24 20:58] xingao267 commented on #142
@gkowalski-google unfortunately no, I did few trials with the main branch but couldn't make Forseti work, so decided to wait for the next Forseti version released and then try from there.

[2020-08-07 03:34] gkowalski-google opened #147 "UnwrapCAIResource method has incorrect info in error message"
While debugging an issue with Forseti and Config Validator, I noticed the [UnwrapCAIResource](https://github.com/forseti-security/config-validator/blob/master/pkg/asset/asset.go#L150-L156) method has an incorrect comment which made it harder to debug what was causing the error.

[2020-08-07 03:59] #147 closed

[2020-08-12 03:14] gkowalski-google opened #149 "Config Validator build timed out"
The [latest Config Validator build timed out](https://pantheon.corp.google.com/cloud-build/builds/481bfd15-f1b8-4bbd-9528-59c1f8e1f27c?organizationId=433637338589&project=config-validator), which happened [before](https://github.com/forseti-security/config-validator/pull/139). Building the proto files takes a long time due to an issue with installing grpcio/grpcio-tools on some OS (I see the issue

[2020-08-12 03:32] #149 closed

[2020-08-15 05:11] gkowalski-google opened #152 "Include constraint severity in response"
## Story
Forseti will be [saving the constraint severity to CSCC](https://github.com/forseti-security/forseti-security/issues/3522) and needs a way to get the constraint from Config Validator.

## Proposed Solution
Update the Violation proto message to include the severity, which will be parsed from the CF result.

[2020-08-17 21:21] #152 closed

[2020-12-07 21:42] onetwopunch opened #156 "Internal Error: Received RST_STREAM with error code 2"
I've just migrated to use Config Validator using Terraform. I have a few custom Rego files, all of which pass tests locally and are fairly simple. The config-validator service is running just fine on the server (i.e. `sudo systemctl status config-validator`). When I run forseti using the command in the crontab I get a 500 error: `Received RST_STREAM with error code 2`, which, I'm assuming, is why

[2020-12-09 09:53] debakkerb commented on #156
I have the exact same issue in my environment.  I only added the `always_violets`-policy, so I didn't customise any of the Config Validator constraints.  I tested the rules, to see if that made a difference and that worked fine.  It's Config Validator that causes issues.

These are the roles assigned to the Service Account attached to the VM that runs Forseti:

[code]

This is my terraform configu

[2020-12-09 10:13] debakkerb commented on #156
Ok, that was quick.  I solved it with the help of [this bug](https://github.com/forseti-security/config-validator/issues/142).  I've removed things like `- "organizations/**"` and replaced `**` with the actual organization ID.  That resolved the gRPC error.

What puzzles me is that I have another organization where this worked absolutely fine a few months ago (Forseti TF module v5.2.0).

[2020-12-09 17:22] onetwopunch commented on #156
Thanks @debakkerb I made this change, which fixed the error...but the constraint is not being executed now. Are you facing a similar issue?

[2020-12-09 19:50] debakkerb commented on #156
Unfortunately not, I was a bit too trigger happy I'm afraid.  Btw, you can also replace `**` with `*`, instead of the actual organization ID.

However, that didn't fire off any policy violations, even though I added the `always_violates`-constraint.  The problem as well is that it's impossible to debug config-validator, as there are no clear logs or anything.

[2020-12-11 11:28] krab-skunk commented on #156
Same here witg forseti 2.23.3. Which basically make my install of forseti completely useless as most of my rules, if not all, are in rego, and even forseti discourage in their mailing list to continue using the olds scanners, but rather encourage the use of Config Validator.

[2020-12-14 10:50] krab-skunk commented on #156
Did you guys found any workaround ? Happen to me the same in vesion 2.23.2 and 2.25.2 :(

[2020-12-15 18:27] onetwopunch commented on #156
@krab-skunk or @debakkerb was there an older version of Forseti that worked for you? Did this happen after an upgrade?

[2020-12-15 19:52] krab-skunk commented on #156
@onetwopunch It never worked for me, i'm fairly new to forseti (1 month), so i was focusing on trying out the python scanners ( that work perfectly fine ). If someone could tell me which combination of forseti release + config validator commit works great, i'd be happy to try it out ;)

[2020-12-16 17:34] krab-skunk opened #158 "Config validator master branch fail to compile, recipe for target 'tools' failed"
When trying to compile latest master today , i got the following error

[code]

Does anyone have an idea please ?

Thanks

[2020-12-17 10:40] krab-skunk opened #159 "Latest Docker image for config-validator not supported by latest version of forseti"
Continuing on my bugs reports ;)

Runing latest forseti version 2.25.2

took the latest docker images for config validator from here (tag b3da694)
https://console.cloud.google.com/gcr/images/forseti-containers/GLOBAL/config-validator?gcrImageListsize=30

Run docker as follow (no doc anywhere, so i assume we should run it this way)
[code]

telnet works great on 50052, so i run the scanner

`forseti

[2020-12-17 10:42] krab-skunk commented on #159
Worth mentioning , in the constraints, i try both naming conventions ["organisations/**"] or ["organisations/XXXXXXXX"]

[2020-12-17 16:05] krab-skunk commented on #156
Worth adding, that yaml rules that does not contain organizations/..... things inside like this one **iam_audit_log_all.yaml**

[code]

Works like a charm, just got 14000 notifications

[2020-12-17 16:28] gkowalski-google commented on #159
@krab-skunk Forseti v2.25.2 and earlier versions use a static binary of Config Validator that is included in the repo. On the current master branch, this has changed to use the docker image. Not all versions of CV are compatible with Forseti. If you want to use CV with Docker, then you'll need to use the master branch of Forseti and the Forseti Terraform module. There is a default version of CV (i

[2020-12-17 16:44] krab-skunk commented on #159
@gkowalski-google dzięki for your answer. The thing is that i was desperately trying the master branch, as the one coming with terraform never worked for me and as per issue 156 (https://github.com/forseti-security/config-validator/issues/156 ), i'm not the only one :(

I did all my install of forseti using terraform module provided in the wiki, but none of them ever worked with CV, most likely CV

[2020-12-17 17:02] gkowalski-google commented on #159
Can you try starting with a single constraint using master branch and see if that still produces the error?

[2020-12-17 17:05] krab-skunk commented on #159
i do have only one constraint actually that i copied from the samples directory, and its this one

[code]

[2020-12-17 17:56] gkowalski-google commented on #159
Perhaps something is wrong with the policy library being used? I just redeployed the master branch of Forseti, and included the [restricted firewall world open constraint](https://github.com/forseti-security/policy-library/blob/master/samples/restrict_fw_rules_world_open.yaml).

[2020-12-18 13:24] krab-skunk commented on #159
@gkowalski-google zajebisty!! All works on master branch :) Config validator on docker also find me perfectly all the issues. Thanks a ton for your help :)

[2020-12-18 13:30] krab-skunk commented on #156
@onetwopunch @debakkerb
Ok it WORKS !! Even with letting organizations/** and it does found all the issues via config validator !!! :)

The trick is to use **forseti from master branch** and along with **config validator running on docker** ;)

Here is my terraform file

[code]

And this is how i run config validator:

 `sudo docker run --rm -v /home/ubuntu/policy-library/policy-library/policies:/

[2020-12-18 13:34] #158 closed

[2020-12-18 19:52] nkaravias commented on #156
@krab-skunk I'm having the exact issue right now.

Can you reply with the image version you're using?

I'm using the following off of the charts

        image: gcr.io/forseti-containers/config-validator:572e207
        image: "gcr.io/forseti-containers/forseti:v2.25.0"

Both are ancient images, but I've only had bad luck trying newer ones. If you can point me to something that will get the valida

[2020-12-18 20:08] nkaravias commented on #159
I'm trying to run this on GKE right now. Is there a matrix with the docker image sha to get a working forseti & config validator on Kubernetes?

[2020-12-18 20:52] krab-skunk commented on #156
I'm running the latest, basically all i do on forseti server is runing this docker, that pull latest image

[code]

And with this image, u don't have to care about  **- "organizations/myorgid"**, you can leave it like  **- "organizations/****

as a started ,you try this very simple policy: **restrict_fw_rules_world_open.yaml**

[2020-12-18 21:02] nkaravias commented on #156
Ah, so you're running forseti on a VM and simply running the validator in a container?

What version of forseti are you using? My problem is that the orchestrator, config validator and the server run in containers.

[2020-12-18 21:13] krab-skunk commented on #156
Yes, the GKE version is some kind of alpha stuff, and i plan to put that in Prod with hundreds of GKE clusters that i wanna monitor,so i try not to go too too wild. So i went the VM way for now.

As you can see in my terraform file, i run the latest forseti from master branch, coz its the only one that worked as you can read my post above.
[code]

[2020-12-18 21:40] nkaravias commented on #156
Yeah, so I just tried again with the following images:

- for the server `image: gcr.io/forseti-containers/forseti:master`
- for the config validator `image: gcr.io/forseti-containers/config-validator`

I can see that the validator is properly copying the constraint I want to test from GCS:
[code]

There's no errors thrown anywhere, however no violations are detected by the config_validator:

[cod

[2020-12-18 22:12] krab-skunk commented on #156
Well, for sure some other are way more expert at me in this matter, if you are using composite_root in your forseti config server file, well, i think its pretty clear that config validator scanner will never work with it :/

[2020-12-18 22:19] nkaravias commented on #156
Yeah I switched from it to root and retried. The reason for using the composite root is because I can't use a folder in the root (and an inventory for my whole org would take too long).

I can now see config_validator recording violations:
[code]

However nothing is recorded by the notifier.

Here's my config for the notifier. I'm using the enabled_apis rule to make sure the forseti server rules w

[2020-12-18 22:24] krab-skunk commented on #156
Totally understand that, that's why i put plenty of excluded folders and projects for my POC,
so i can have a quick scan for test. ;)

Make sure when you run the notifier, that the ID you use is indeed the one returned by your scanner

forseti notifier run --scanner_index_id SCANNER_ID

and also that the source_id for your violation/cscc is well configured ;)

Perso, each time i run a test, i laun

[2020-12-23 16:21] ralsu091 commented on #156
If you are using the terraform module to install Forseti with CV, make sure your policy files use the singular form of `organization`, `folder` etc.

I was facing this issue with `always_violates` and changed spec.match.target to `organization/*` to make it work. Notice the singular `*` as well.
See https://github.com/forseti-security/policy-library/issues/385

[2021-01-15 19:32] Jberlinsky opened #160 "Allow support for referential constraints"
## Summary

I have a customer for whom referential constraints would drive outsize business value, enabling them to adopt Forseti Config Validator and Terraform Validator to implement detective and protective controls to safeguard their GCP organization.

## Use Case

The specific use case identified is:

- Ensuring that all Disks created within a GCP organization have an attached Resource Policy

[2021-01-15 19:42] briantkennedy commented on #160
Hi Jason,

We previously had referential constraints prior to integrating with Constraint Framework, however, there are some scaling issues for larger organizations.  Referential constraints entail having the entire set of resources loaded into memory and Golang experiences roughly 60x increase in memory footprint for parsed JSON (eg, a 1GB CAI export will require 60GB of physical memory).

Enabli

[2021-01-15 19:46] morgante commented on #160
This is something we're still considering for the roadmap though.

[2021-01-15 20:02] aimjwizards commented on #160
+Marten van Wezel <martenvw@google.com> for awareness

On Fri, Jan 15, 2021 at 11:46 AM Morgante Pell <notifications@github.com>
wrote:

[2021-02-03 18:59] briantkennedy opened #161 "Handle project ID / project Number disparity"
Terraform validator gets input from terraform plan which uses project ID.  Meanwhile, CAI dumps rely on project number for the hierarchy.  We need to resolve this discrepancy so that the same constraint target will be portable across TF Validator and Config Validator operating modes.

[2021-02-25 00:07] morgante commented on #161
Related issue: https://github.com/GoogleCloudPlatform/terraform-validator/issues/182

[2021-03-12 17:09] melinath commented on #161
I'm working on giving terraform-validator access to the project number. It will still have to get the project id if the project hasn't been created yet (since the project number is set server-side) but that seems like it's probably okay? It will be a little annoying for users to have to set things up in the right order - but it wouldn't be possible to write a config validator constraint against a

[2021-03-12 17:45] morgante commented on #161
I think this is the part we need to fix actually, exactly because number can't be determined pre-deployment.

[2021-03-18 16:07] melinath commented on #161
What is/are the use case(s) for writing a validation rule against a specific project pre-deployment? Is this a thing people are currently doing and/or want to be able to do?

[2021-03-18 16:13] morgante commented on #161
The use case is primarily if projects are following a common naming convention so you want to use a glob in it, but I agree that's probably an edge case we don't need to prioritize.

[2021-07-21 08:30] jralmaraz opened #167 "Config-validator - Failed to load server failed to compile dependency code - rego_parse_error: rule name conflicts with built-in function"
Hi,

We've been using the forseti policy-library as a base and built other policies on top of it to work with Custom Governance.

We're currently evaluating if the same policies would work with Forseti config-validator as a back-up option as Custom Governance is still a pre-GA product and there are restrictions of running it in production.

I have copied the working policy library from Custom Gove

[2021-07-21 17:07] aimjwizards commented on #167
+Hemant Kunda ***@***.***>

On Wed, Jul 21, 2021 at 1:30 AM Jose Roberto Almaraz <
***@***.***> wrote:

[2021-07-21 18:07] hkundag commented on #167
Hi Jose! I believe you would be using OPA 0.17.2 if you didn't override any of the Terraform defaults listed [here](https://github.com/forseti-security/terraform-google-forseti#inputs) (specifically `config_validator_image_tag`).  The default image uses [this](https://github.com/forseti-security/config-validator/blob/e018e7ce540ae1e0bc1718c88cc02aaa9ee705c8/go.mod) `go.mod`.

What version of Custo

[2021-07-21 22:16] jralmaraz commented on #167
Hi @hkundag , thanks for the reply. I didn't override any of the default Terraform tags apart from config_validator_enabled and the variables.

We're using OPA 0.17.2 and Custom Governance 1.3.2. We have just also completed an upgrade from CG 1.3.2 to 1.4.2 and the policy library works well (we did have to change all their kind/names as there's a mandatory naming format where they should all start

[2021-07-21 22:35] jralmaraz commented on #167
Forgot to mention, we're not using the forseti GKE deployment, but the regular GCE due to the same reason (beta/pre-GA versus GA). So, basically deployed the terraform-google-forseti/examples/install_simple with config_validator_enabled and configured the policy on the forseti-server VM. Cheers.

[2021-07-21 23:37] morgante commented on #167
Just to be totally clear, Config Validator is independent of Forseti. Custom Governance also uses Config Validator.

Forseti also embeds Config Validator, but Forseti is not actively updated/maintained currently. Based on [this line](https://github.com/forseti-security/terraform-google-forseti/blob/17493a1fbcd50846318d979795dfc68a49c5bb9d/modules/server/variables.tf#L60), it looks like Forseti is

[2021-07-22 00:17] hkundag commented on #167
Thanks for clarifying, @morgante!

@jralmaraz I'm not able to reproduce those errors in the CV server unless I go pretty far back, to `a2d913a` (which is over 2 years old and uses OPA v0.11.0). Out of curiosity, what happens if you change the `:=` to `=` at `labels.rego:21` and `labels.rego:28`? Something like this used to be an [issue](https://github.com/open-policy-agent/opa/issues/1541), at lea

[2021-07-22 01:40] jralmaraz commented on #167
Thanks @hkundag . I will try a new installation from master branch, I used the 5.2.2 just because it was pointed in this doc: https://forsetisecurity.org/docs/latest/setup/install/index.html

I tried that yesterday (replacing `:=` with `=` in all places it pointed out). Then it moved the error to `expression is unsafe` as below:

`ubuntu@forseti-server-vm-eb216d0f:~/policy-library$ sudo /home/ubun

[2021-07-22 02:50] #167 closed

[2021-07-22 02:50] jralmaraz commented on #167
I have re-provisioned the installation from the master branch and config-validator is able to compile our policies:

`ubuntu@forseti-server-vm-6495cb00:~$ sudo systemctl status config-validator
● config-validator.service - Config Validator API Server
   Loaded: loaded (/lib/systemd/system/config-validator.service; disabled; vendor preset: enabled)
   Active: active (running) since Thu 2021-07-22 0

[2022-04-19 18:09] melinath commented on #14
This is no longer the case.

[2022-04-19 18:09] #14 closed